body    {
    background: black;
}

h1  {
    padding: 37% 0 11% 0;
    background: url('salut.jpg') no-repeat;
    background-size: 100%;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 200%;
    color: wheat;
    text-shadow: black 0 0 5px;
}

h1:hover  {
    padding: 36% 0 11.5% 0;
    background: url('salut.jpg') no-repeat;
    background-size: 100%;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 250%;
    color: papayawhip;
    text-shadow: red 0 0 5px;
}